.footer {
  width: 100%;
  background-color: rgb(0, 0, 50);
  color: white;
  padding: 1.5rem 0;
}

.footer .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.linkedin {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-decoration: none;
}

.textContainer {
  color: rgb(161, 161, 161);
  font-size: var(--fs-sm);
  text-align: center;
}
